<div class="col-lg-4">
    <h3>
        {{title}}
    </h3>
    <div class="sidebar-admin">
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['enviar']">Send Message</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['recibidos']">Received messages</a>
            </li>
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['enviados']">Sent messages</a>
            </li>
<!--            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['conversation']">Conversaciones</a>
            </li>-->
            <li role="presentation" [routerLinkActive]="['active']">
                <a [routerLink]="['gente']">Messages</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-8">
    <router-outlet></router-outlet>
</div>
