<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p> Nueva red social ;-)</p>
        <p *ngIf="identity">
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/timeline']" [routerLinkActive]="['active']">Timeline</a>
            <a class="btn btn-default btn-lg" role="button" [routerLink]="['/gente']" [routerLinkActive]="['active']">Gente</a>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/mensajes']" [routerLinkActive]="['active']">Mensajes</a>
        </p>
        <img src="assets/social-3.png" />
    </div>
</div>
