<div class="navigation col-lg-12">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">{{title}}</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-th-list"></span> Timeline</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-user"></span> Gente</a>
                </li>
            </ul>
        </div>
    </nav>
</div>