<div class="col-lg-8">
    <h1 class="h1-strong">{{title}}</h1>
    <p class="text-center">
        <button class="btn btn-success btn-sm" (click)="refresh($event)">Actualizar</button>
    </p>
    <div id="publications">
        <div class="item-publication" *ngFor="let publication of publications">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url + 'get-image-user/' + publication.user.image}}" *ngIf="publication.user.image" />
                            <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image" />
                        </a>
                    </div>
                    <div>
                        <a class="username" [routerLink]="['/perfil', publication.user._id]">
                            {{publication.user.name + ' '+ publication.user.surname}}
                        </a>
                        &nbsp;|&nbsp;
                        <span class="date">
                            {{ (publication.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}
                        </span>
                    </div>
                    <h4 class="publication-text pull-left">
                        {{publication.text}}
                    </h4>
                    <div class="pull-right" *ngIf="publication.user._id == identity._id">
                        <a href="#myModal{{publication._id}}" role="button" class="btn btn-large btn-danger" data-toggle="modal" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <div id="myModal{{publication._id}}" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">¿Eliminar realmente la publicación?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Si la borrás no podrás deshacer la operación.</p>
                                        <!--<p>{{publication.text}}</p>-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deletePublication(publication._id)">
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                    </div>
                    <div class="pull-right" *ngIf="publication.file != 'null'">
                        <button class="btn btn-warning pull-right" (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
                            <span class="glyphicon glyphicon-picture"></span>
                        </button>
                        <button class="btn btn-danger pull-right" (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                    <div class="col-lg-12" *ngIf="publication.file != 'null' && showImage == publication._id">
                         <br/>
                        <img src="{{ url + 'get-image-pub/' + publication.file }}" class="col-lg-12 "/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center" *ngIf="publications && publications.length">
        <p>
            <button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
                Ver más publicaciones
            </button>
        </p>
    </div>
</div>
<sidebar (sended)="refresh($event)"></sidebar>
<div class="clearfix"></div>
