.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active {
    border-bottom: 3px solid white;
    /*background: #cc1717;*/
}

.navigation {
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #e53c37 !important;
    border: none;
}

.navigation .navbar * {
    color: white !important;
}

/*.navigation .navbar .a {
    background: #cc1717 !important;
}*/

.navigation .navbar .dropdown-menu *{
    color: black !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #c72e2a !important;
}

.navigation .avatar {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 9px;
    margin-right: 2px;
}

.navigation .avatar img {
    height: auto !important;
    width: 38px !important;
}

.jumbotron {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.btn {
    margin: 5px;
}

.pointer {
    cursor: pointer;
}

.item-user .image-user {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    /*margin-top: 9px;*/
    margin-right: 15px;
}

.item-user .image-user img {
    width: 75px !important;
}

.item-user .username {
    margin-top: 10px;
}

.item-user .nickame {
    color: #969393;
}

.item-user .username .name-surname a {
    color: #555;
    font-weight: bold;
}