.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.active {
    border-bottom: 3px solid white;
    /*background: #cc1717;*/
}

.navigation {
    padding: 0px !important;
}

.navigation .navbar {
    border-radius: 0px !important;
    background: #e53c37 !important;
    border: none;
}

.navigation .navbar * {
    color: white !important;
}

/*.navigation .navbar .a {
    background: #cc1717 !important;
}*/