<div class="col-lg-10">
    <h3>
        {{title}}
    </h3>
    <div class="people" *ngIf="messages">
        <div class="item-user" *ngFor="let message of messages">
            <div class="panel panel-default" *ngIf="message.emitter">
                <div class="panel-body">
                    <div class="image-user pull-left">
                        <a href="#">
                            <img src="{{url + 'get-image-user/' + message.emitter.image}}" *ngIf="message.emitter.image" />
                            <img src="assets/user.png" *ngIf="!message.emitter.image" />
                        </a>
                    </div>
                    <div class="username pull-left">
                        <p class="name-surname">
                            <a [routerLink]="['/perfil', message.emitter._id]">
                                {{message.emitter.name + ' ' + message.emitter.surname}}
                            </a>
                            &nbsp;|&nbsp;
                            <span class="nickame">
                                {{message.emitter.nick}}
                            </span>
                            &nbsp;|&nbsp;
                            <span class="date nickame">
                                {{ (message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo }}
                            </span>
                            &nbsp;|&nbsp;
                            <span class="nickame">
                                Enviado a <a [routerLink]="['/perfil', message.receiver._id]">{{ message.receiver.name + ' ' + message.receiver.surname }} </a>
                            </span>
                        </p>
                        <p>
                            {{message.text}}
                        </p>
                    </div>
                    
<!--                    <div class="col-lg-12">
                        {{message.text}}
                    </div>-->
                </div>
            </div>
        </div>
        
        <ul class="pagination pull-right">
            <li *ngIf="page > 1 && total > 0"><a [routerLink]="['/mensajes/enviados', prev_page]">Anterior</a></li>
            <li *ngIf="pages != page && total > 0"><a [routerLink]="['/mensajes/enviados', next_page]">Siguiente</a></li>
        </ul>
    </div>
</div>
